[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metaseqR2"]
	path = metaseqR2
	url = https://github.com/pmoulos/metaseqr2
[submodule "recoup"]
	path = recoup
	url = https://github.com/pmoulos/recoup
[submodule "sitadela"]
	path = sitadela
	url = https://github.com/pmoulos/sitadela
